<div class="footer">
  <div class="row footer-content">
    <div class="col-lg-4 footer-div">
    <h6 class="mb-3">ABOUT US</h6>
      <a class="footer-link" href="#">Home</a>
      <a class="footer-link" href="#">About</a>
      <a class="footer-link" href="#">Contact</a>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 footer-div">
    <h6 class="mb-3">SHOP</h6>
      <a class="footer-link" href="#">All</a>
      <a class="footer-link" href="#">Categories</a>
      <a class="footer-link" href="#">Featured</a>
    </div>
      <div class="col-sm-12 col-md-12 col-lg-4 footer-div">
        <h3 class="mb-3">LOGO</h3>
        <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</div>
