<div class='container'>

<h1 class='title_1'>Everything We Offer</h1>
  <% @items.each do |item| %>
  <div>
    <p><%= link_to item.name, item_path(item) %></p>
    <p> <%= item.price %> </p>
  </div>
  <% end %>

<div class='new-item-button'>
<%= link_to 'New item', new_item_path %>
</div>
</div>
