.tab {
  font-size: 1.1rem;
}

button.nav-link {
  color: black;
}

button.nav-link:hover {
  color: grey;
}

.booking-card {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 100%;
  height: 250px;

  img {
    width: 30%;
    height: 100%;
    object-fit: cover;
  }

  .heading-link {
    text-decoration: none;
    color: $gray;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .booking-card-infos {
    padding: 30px;
  }

}

.faded {
  font-weight: 400;
  color: rgb(178, 177, 177);
}

.link-underline-effect {
  color: #18272F;
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
}

.link-underline-effect:hover {
  color: $gray;
}

.link-underline-effect::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  border-radius: 0;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s ease-in-out;
}

.link-underline-effect:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
