.item-show-card {
  height: 800px;
}

.info_card_1 {
  position: relative;
  background-color: white;
  padding:40px 50px;
  width: 100%;
  text-align:left;
  font-size: medium;
  margin-bottom: 35px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  .favorite-div button {
    border: none;
    background-color: transparent;
    color: #F18C79;
    font-size: 1.5rem;
  }

  .item-show-buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
  }
}

.rent-item-card {
  background-color: white;
  padding: 30px 50px;
  width: 100%;
  text-align:left;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.photo_card{
  padding:5px;
  width:28%;
  font-size:medium;
  position: left;
  margin:auto;
  background-size:cover;

  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.pic{
  height: 800px;
  width: 120%;
  object-fit: cover;
}
