.info_card_1{
  padding:15px;
  width:45%;
  text-align:left;
  font-size:medium;
  position:center;
  background-size:cover;
  margin-top:30px;
  margin-left:15px;
  margin-right:15px;
  margin-bottom:45px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.info_card_2{
  padding:15px;
  width:45%;
  text-align:left;
  font-size:medium;
  position: center;
  background-size:cover;
  margin-top:30px;
  margin-left:15px;
  margin-right:15px;
  margin-bottom:45px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.photo_card{
  padding:5px;
  width:28%;
  font-size:medium;
  position: left;
  margin:auto;
  background-size:cover;

  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.pic{
  width:100%;
}
