// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "banner";
@import "booking_card";
@import "button";
@import "card";
@import "category";
@import "devise_forms";
@import "footer";
@import "form_legend_clear";
@import "item_forms";
@import "navbar";
@import "product_card";
@import "search";


.title_1 {
  padding: 15px;
  text-align: center;
  background: $gray;
  color: white;
  font-size: 25px;
  font-style: normal;
  margin-bottom:15px;
}

.align-center {
  text-align: center;
}

.cards {
  margin-top:40px;
  margin-bottom:60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.item_card{
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.text_dec{
  text-decoration:none;
}
