.margin-setting{
  margin-top:10px;
  margin-bottom:10px;
}

.container-wid{
  max-width:350px;
  padding-bottom:180px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.three_buttons{
  display:flex;
  justify-content: center;
  width: 100%;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container{
  margin:auto;
  width:800px;
}
