.navbar-lewagon {
  justify-content: space-between;
  background: white;

  i {
    font-size: 2rem;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo-text {
  margin-top: -20px;
  padding-left: 40px;
  color: rgb(177, 177, 177);
}

.navbar-brand {
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  max-height: 70px;
}
