.product-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  height: 500px;

  span {
    font-size: 0.9rem;
    color: grey;
    font-weight: 400;
  }

  i {
    color: lightgrey;
  }

  i:hover {
    color: grey;
  }
}

.product-card > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.product-card h2 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: left;
  margin-top: 0;
}

.product-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.product-card .product-card-infos {
  padding: 16px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-text {
  max-width: 60%;
}
