// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.form_container {
  padding:30px;
  width:80%;
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  font-size: large;
  position: center;
  margin-left: 140px;
  margin-right: 140px;
  background-image: url('container_background.jpg');
}
